[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
python-qpid-proton = "*"

[requires]
python_version = "3.7"

[scripts]
send = "python send.py"
receive = "python receive.py"
